.DynamicElementContainer {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.DynamicElementWrapper {
  width: 90%;
  height: 90%;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.levelOne {
  width: 50%;
  height: 80%;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.levelTwo {
  width: 50%;
  height: 18%;
  cursor: pointer;
  background-color:white;
  transition: all 0.3s ease-in-out;
}
.levelThree {
  width: 23%;
  height: 49%;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .DynamicElementContainer {
    height: auto;
  }
  .DynamicElementWrapper {
    height: auto;
    gap: 20px;
  }
  .levelOne {
    width: 90%;
    height: 500px;
  }
  .levelTwo {
    width: 90%;
    height: 100px;
  }
  .levelThree {
    width: 90%;
    height: 100px;
  }
}
