.DynamicElementContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  /* border: 2px solid red; */
}
.DynamicElementWrapper {
  width: 90%;
  height: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid blue; */
}

.levelOne {
  width: 50%;
  height: 80%;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 10px 1px #777;
  transition: all 0.3s ease-in-out;
}
.levelTwo {
  width: 50%;
  height: 18%;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 10px 1px #777;
  transition: all 0.3s ease-in-out;
}
.levelThree {
  width: 24%;
  height: 49%;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 10px 1px #777;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1900px) {
  .DynamicElementContainer {
    height: 800px;
  }
}

@media screen and (max-width: 1024px) {
  .DynamicElementContainer {
    height: auto;
  }
  .DynamicElementWrapper {
    height: auto;
    gap: 20px;
  }
  .levelOne {
    width: 100%;
    height: 500px;
  }
  .levelTwo {
    width: 100%;
    height: 100px;
  }
  .levelThree {
    width: 100%;
    height: 100px;
  }
}
