.outerDiv {
    width: 100%;
    height: 100%;
  }
  
  .semiCircle {
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    --percentage: 0;
    overflow: hidden;
  }
  
  .semiCircle::after {
    content: "";
    position: absolute;
    top: 39%;
    left: 22%;
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-color: #777777 #777777 #ed0295 #ed0295;
    border-radius: 50%;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    animation: rotateAnimation 1s ease-in-out;
  }
  
  @keyframes rotateAnimation {
    from {
      transform: rotate(calc(1deg * (-45 + 0 * 1.8)));
    }
    to {
      transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    }
  }
  
  .minuteHand {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #ed0295; /* Change color as needed */
    top: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: rotate(calc(1deg * (-90 + var(--percentage) * 1.8)));
    animation: rotateAnimation 1s ease-in-out;
  }
  