/* Level One div */
.LevelOneDivWapper {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */

  padding: 30px 44px;
}
.LevelOneDivInner {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nameAndLogo {
  width: 100%;
  height: 10%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777777;
  font-size: 1.5rem;
  font-weight: b;
  text-align: center;
}
.nameAndLogo > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
.nameAndLogo > p {
  transition: all 0.3s ease-in-out;
}
.GraphSpace {
  width: 100%;
  height: 70%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.totalCounting {
  width: 100%;
  height: 5%;
  color: #ed0295ff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.BigValue {
  font-size: 2.5rem;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}
.unit {
  margin-left: 2px;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.sign {
  font-weight: 200;
}
.bottomExtra {
  width: 100%;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bottomExtraForLevelTwo {
  width: 100%;
  height: 3%;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid #777777;
  padding-right: 10px;
  margin-right: 10px;
}

.BigValueAnother {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 5px;
}
.unitAnother > p {
  font-size: 0.9;
  font-weight: 500;
}

/* level Two Div */

.LevelTwoDivContainer {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nameAndLogoTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777777;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.nameAndLogoTwo > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
.nameAndLogoTwo > p {
  transition: all 0.3s ease-in-out;
}

.totalCountingTwo {
  width: auto;
  color: #ed0295ff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* levelThreeDiv */
.LevelThreeDivContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.nameAndLogoThree {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #777777;
}
.nameAndLogoThree > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
.nameAndLogoThree > p {
  transition: all 0.3s ease-in-out;
}
.totalCountingThree {
  color: #ed0295ff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ThirdBox {
  width: 70%;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ThirdBoxContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.ThirdBoxValue {
  width: 100%;
  height: auto;
  color: #ed0295ff;
  font-size: 1.5rem;
  font-weight: 500;
}
.ThirdBoxValue > span {
  font-weight: 500;
}
.ThirdBoxUnit {
  color: #777777ff;
  font-size: 1rem;
}
.totalCountingThreeWapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottomExtraForThirdLevel {
  display: flex;
  align-items: center;
  color: #777777;
}
@media screen and (max-width: 1300px) {
  .BigValue {
    font-size: 2rem;
  }
}
/* Level One div */
@media screen and (max-width: 1024px) {
  .LevelThreeDivContainer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }
  .nameAndLogoThree > img {
    width: 30px;
    height: 30px;
  }
  .nameAndLogoThree {
    font-size: 1.5rem;
  }
  .ThirdBox {
    display: none;
  }
}
/* level two div for extra */
@media screen and (max-width: 1700px) {
  .bottomExtraForLevelTwo,
  .bottomExtraForThirdLevel > .BigValueAnother > p {
    font-size: 1rem;
  }
  .bottomExtraForLevelTwo,
  .bottomExtraForThirdLevel > .unitAnother > p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1550px) {
  .bottomExtraForLevelTwo,
  .bottomExtraForThirdLevel {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .bottomExtraForLevelTwo,
  .bottomExtraForThirdLevel {
    display: flex;
  }
  .totalCountingThreeWapper {
    flex-direction: row-reverse;
  }
  .bottomExtraForThirdLevel {
    border-right: 1px solid #777777;
    padding-right: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 835px) {
  .bottomExtraForLevelTwo,
  .bottomExtraForThirdLevel {
    display: none;
  }
  .LevelTwoDivContainer,
  .LevelThreeDivContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .nameAndLogoThree,.nameAndLogoTwo,.nameAndLogo {
    font-size: 1rem;
  }
 
  .nameAndLogo > img {
    width: 20px;
    height: 20px;
  }
  .nameAndLogoThree > img {
    width: 20px;
    height: 20px;
  }
  .nameAndLogoTwo> img {
    width: 20px;
    height: 20px;
  }
  .BigValue {
    font-size: 1.5rem;
  }
  .unit{
    font-size: 0.6rem;
  }
}
