.InnerHeader{
    width: 89.5%;
    height: 7%;
    min-height: 46px;
    background-color: white;
    /* border: 2px solid blue; */
    box-shadow: 0 0 10px 1px #777;
    z-index: 3;
}


@media screen and (max-width: 1024px) {
    .InnerHeader{
        width: 90%;
        margin-bottom: 15px;
    }
}