* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.app {
  background-image: url(./Assets/BackgroundImage/pacman_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
